.App {
  text-align: center;
}

.target-area {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  background-color: white;
  border: 1px solid black;
}

.standing-target {
  content: "";
  position: absolute;
  width: calc((var(--standing-target-diameter) / var(--target-area-size)) * 100%);
  height: calc((var(--standing-target-diameter) / var(--target-area-size)) * 100%);
  background-color: black;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prone-target {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc((var(--prone-target-diameter) / var(--target-area-size)) * 100%);
  height: calc((var(--prone-target-diameter) / var(--target-area-size)) * 100%);
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  box-sizing: border-box;
}

.shot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.avg-shot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.adjustment-recommendation {
  margin-top: 20px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
}

.adjustment-recommendation p {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.5;
}

.adjustment-recommendation p:first-child {
  font-weight: bold;
  font-size: 18px;
  color: #007BFF; /* A modern blue color */
}
